In [16]:
import pandas as pd
import re
import nltk
import sentencepiece

In [2]:
mtdata_train = pd.read_table('archive/Human Annotated Data/train.tsv')
mtdata_test = pd.read_table('archive/Human Annotated Data/test.tsv')
mtdata_val = pd.read_table('archive/Human Annotated Data/validation.tsv')

In [3]:
mtdata_test.head()

,en_query,cs_query,en_parse,cs_parse,domain
0,Pause my timer .,mere timer ko roko,[IN:PAUSE_TIMER Pause my [SL:METHOD_TIMER time...,[IN:PAUSE_TIMER mere [SL:METHOD_TIMER timer ] ...,timer
1,Is it raining in Hawaii ?,Kya hawaii me raining ho rahi hai?,[IN:GET_WEATHER Is it [SL:WEATHER_ATTRIBUTE ra...,[IN:GET_WEATHER Kya [SL:LOCATION hawaii ] me [...,weather
2,Set a reminder for me to wake up at 630 am tom...,Mere liye reminder set karo to wake up at 6:30...,[IN:CREATE_REMINDER Set a reminder for [SL:PER...,[IN:CREATE_REMINDER [SL:PERSON_REMINDED Mere ]...,reminder
3,Please pause timer,Please timer ko rokey,[IN:PAUSE_TIMER Please pause [SL:METHOD_TIMER ...,[IN:PAUSE_TIMER Please [SL:METHOD_TIMER timer ...,timer
4,play the first album for killswitch engaged,Killswitch engaged ka pehla album play kariye,[IN:PLAY_MUSIC play the first [SL:MUSIC_TYPE a...,[IN:PLAY_MUSIC Killswitch engaged ka pehla [SL...,music

In [4]:
def remove_col(df: pd.DataFrame):
    df.drop(columns=['en_parse', 'cs_parse', 'domain'], inplace= True)

In [5]:
remove_col(mtdata_train)
remove_col(mtdata_val)
remove_col(mtdata_test)

mtdata_test.head()

,en_query,cs_query
0,Pause my timer .,mere timer ko roko
1,Is it raining in Hawaii ?,Kya hawaii me raining ho rahi hai?
2,Set a reminder for me to wake up at 630 am tom...,Mere liye reminder set karo to wake up at 6:30...
3,Please pause timer,Please timer ko rokey
4,play the first album for killswitch engaged,Killswitch engaged ka pehla album play kariye

In [6]:
print(f"Number of null values in training data: {mtdata_train[mtdata_train.isnull() == True].count()}")
print(f"Number of null values in validation data: {mtdata_val[mtdata_val.isnull() == True].count()}")
print(f"Number of null values in training data: {mtdata_test[mtdata_test.isnull() == True].count()}")

Number of null values in training data: en_query    0
cs_query    0
dtype: int64
Number of null values in validation data: en_query    0
cs_query    0
dtype: int64
Number of null values in training data: en_query    0
cs_query    0
dtype: int64

In [7]:
en_corpus, he_corpus = [], []

for index, rows in mtdata_train.iterrows():
    en_corpus.append(rows['en_query'])
    he_corpus.append(rows['cs_query'])

print(f"English Corpus length: {len(en_corpus)}")
print(f"Hinglish Corpus length: {len(he_corpus)}")

English Corpus length: 2993
Hinglish Corpus length: 2993

In [8]:
def clean(text: str):
    stopwords = nltk.corpus.stopwords.words('english')
    with open('stop_hinglish.txt', 'r', encoding= 'utf-8') as f:
        [stopwords.append(e) for e in f.read().splitlines()]

    stopwords_set = set(stopwords)
    text = re.sub(r'[^\w\s]', '', text)

    text = ' '.join([word for word in text.split() if word not in stopwords_set])

    text = re.sub(r'<[^>]*>', '', text)

    text = text.lower()
    return text

en_corpus_clean = [clean(text) for text in en_corpus]
he_corpus_clean = [clean(text) for text in he_corpus]

In [9]:
def tokenize(text):
    return text.split()

en_corpus_tokenized = [tokenize(text) for text in en_corpus_clean]
he_corpus_tokenized = [tokenize(text) for text in he_corpus_clean]

In [12]:
def build_vocab(corpus):
    vocab = set()
    for text in corpus:
        for token in text:
            if token not in vocab:
                vocab.add(token)

    return vocab

vocab = build_vocab(en_corpus_tokenized + he_corpus_tokenized)

TypeError: 'set' object is not subscriptable